
<app-top-gradient></app-top-gradient>
<nav class="navbar navbar-expand navbar-light custom-navbar border-bottom fixed-top" >
  
    <div class="container-fluid">
      <a class="navbar-brand ms-4">
        <img class="d-flex align-items-center" src="/assets/svg/main_logo.svg" alt="Colorfolio" height="22">
      </a>

      <div class="navbar-nav ms-auto me-2">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-dark">Sign-up</button>
      </div>
    </div>
  </nav>
