<app-navbar></app-navbar>
<div class="container-fluid container-main mx-auto px-5 mb-5 navbar-compensation pt-5">
    <h1 class="text-center">Create and share beautiful color palettes</h1>
    <div class="text-center">
      <p class="lead hero-text text-center">Everything you need to build color schemes in a intuitive way.</p>
      <div class="text-center my-5">
        <img class="mx-auto hero-img" src="/assets/gif/palette-hero.gif">
      </div>
      <button class="btn btn-dark btn-lg px-5">Create</button>
    </div>
  <div class="section mx-auto">
    <h2 class="text-center">From small design tasks to large branding projects</h2>
    <div class="text-center">
      <p class="main-text">Colorfolio is a unique web application that allows the creation of color palettes in a way never seen before, where the user is free to add as many colors as they want.</p>
    </div>
  </div>
  <div class="section mx-auto">
    <div class="row">
      <div class="col-md-6 mt-md-4 px-4">
        <img class="mb-4" src="/assets/svg/feature-1.svg" alt="Colorfolio" height="42">
        <h4>Unlimited number of colors</h4>
        <p class="main-text">Projects can require dozens of colors. With Colorfolio, you can create palletes with how many colors you need.</p>

      </div>
      <div class="col-md-6  mt-md-4  px-4">
        <img class="mb-4" src="/assets/svg/feature-2.svg" alt="Colorfolio" height="42">
        <h4>Download your favorite swatches</h4>
        <p class="main-text">Have the reference colors available while working on your project, in a quick and easy way.</p>
      </div>
    </div>
  </div>
  <hr class="section mx-auto">
  <div class="section mx-auto">
    <h2 class="text-center">Get our newsletter</h2>
    <p class="text-center main-text">Receive the latest news and updates about our app.</p>
    <div class="input-group mb-3 newsletter-form mx-auto mt-3">
      <input type="email" class="form-control form-control-lg" placeholder="Your email" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-dark  btn-lg" type="button" id="button-addon2">Submit</button>
    </div>
  </div>
</div>
<app-footer></app-footer>