
.footer-main {
    background-color: black;
    margin-top: 100px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-main a, .footer-main a:visited, .footer-main a:hover, .footer-main a:active  {
    color: rgb(139, 139, 139);
    font-size: 15px;
}

.footer-main li {
    margin-left: 25px;
    margin-right: 0px;
}

@media (max-width: 768px) {
    .footer-main li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-right-group {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer-left-group {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

  }

  .footer-icons {
      margin-left: 15px;
  }

  .footer-right-group {
    margin-left: auto;
    margin-right: auto 0;
    width:fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
}

  .footer-left-group {
    margin-left: auto 0;
    margin-right: auto;
    width:fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
}

.c-center-mt-md-2 {
    margin-top: 4px;
}
.c-center-mt-md-3 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .c-center-mt-md-2 {
        margin-top: 0px;
    }
    .c-center-mt-md-3 {
        margin-top: 0px;
    }
}
footer {
    margin-top:auto;
}
.footer-main {
    background-color: black;
    margin-top: 100px;
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-main a, .footer-main a:visited, .footer-main a:hover, .footer-main a:active  {
    color: rgb(139, 139, 139);
    font-size: 15px;
}

.footer-main li {
    margin-left: 25px;
    margin-right: 0px;
}

@media (max-width: 768px) {
    .footer-main li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer-right-group {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer-left-group {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }

  }

  .footer-icons {
      margin-left: 15px;
  }

  .footer-right-group {
    margin-left: auto;
    margin-right: auto 0;
    width:fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
}

  .footer-left-group {
    margin-left: auto 0;
    margin-right: auto;
    width:fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
}

.c-center-mt-md-2 {
    margin-top: 4px;
}
.c-center-mt-md-3 {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .c-center-mt-md-2 {
        margin-top: 0px;
    }
    .c-center-mt-md-3 {
        margin-top: 0px;
    }
}